doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title Верстка проекта #{info.name}
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css", rel="stylesheet", type="text/css")
	body
		div.container
			header
				br
				div.jumbotron
					if info.name
						h1 #{info.name}
					if info.note
						p.lead #{info.note}
					if archives
						div(class="dropdown")
							a(id="archives", class="dropdown-toggle", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="archives") 
								| Архивы
								span(class="caret")
							ul(class="dropdown-menu", role="menu", aria-labelledby="archives")
								each archive in archives
									li
										a(href="#{archive.path}", class="link") #{archive.name}
			//-Расчет прогресса
			if pages
				- var progress = 0, progressCount = 0;
				each page in pages
					if page.progress
						- progress += Number(page.progress);
						- progressCount++;
				- progress = Math.floor(progress / progressCount);
				h3 Суммарный прогресс
				div.progress
					div.progress-bar.progress-bar-success(role="progressbar", aria-valuenow="#{progress}", aria-valuemin="0", aria-valuemax="100", style="width: #{progress}%")
						strong #{progress}%
			br
			h3 Список сверстанных страниц
			table.table.table-hover
				thead
					tr
						th #
						th Страница
						th Готовность, %
				if pages
					tbody
					- var i = 0;
					each page, code in pages
						- var pageProgress = Number(page.progress);
						- i++;
						tr
							td #{i}
							td
								a(href="pages/#{code}.html", target="_blank") #{page.name}
								if page.note
									br
									small.text-muted #{page.note}
							td
								- var labelClass;
								if pageProgress < 20
									- labelClass = "label-default";
									- labelTitle = "Структура страницы";
								else if pageProgress < 50
									-labelClass = "label-warning";
									- labelTitle = "Чистый HTML-код страницы";
								else if pageProgress < 80
									-labelClass = "label-primary";
									- labelTitle = "В процессе стилизации и написания криптов";
								else if pageProgress < 90
									-labelClass = "label-primary";
									- labelTitle = "Заверешние стилизации и написания скриптов";
								else if pageProgress < 100
									-labelClass = "label-success";
									- labelTitle = "Тестирование и отладка";
								else if pageProgress == 100
									-labelClass = "label-success";
									- labelTitle = "Страница готова";
								span.label(class="#{labelClass}", data-toggle="tooltip", data-placement="top", title="#{labelTitle}") #{page.progress}
			hr
			footer
				p.text-muted 
					span(style="margin-left: -1em;") &copy; 
					| Кирикович Александр, 
					a(href="mailto:mail@akirikovich.ru") mail@akirikovich.ru
					br
					| г. Ростов-на-Дону
					if info.year
						, #{info.year} г.
			
			script(src="https://code.jquery.com/jquery-1.11.0.min.js", type="text/javascript")
			script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js", type="text/javascript")